*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	max-width: 750px;
}
#top{
	width: 750px;
	height: 74px;
	background: #FE5400;
	display: flex;
}
#tao{
	width: 80px;
	height: 74px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#search{
	width: 670px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	}
#ssk{
	width: 100%;
	height: 48px;
	background: rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 48px;
	border-radius: 10px;
	font-size: 26px;
	color: #FFFFFF;
}
#ssk .iconfont{
	margin-right: 8px;
}
.photo img{
	width: 750px;
	height: 234px;
}
.gg{
	border: 1px solid #CCCCCC;
	/*border-top: 10px solid #E9E9E9;*/
}
.gg div{
	width: 750px;
	height: 160px;
	display: flex;
	justify-content: space-around;
}
.gg div a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.gg div a img{
	width: 120px;
}
.gg div a span{
	font-size: 24px;
	color: rgb(102, 102, 102);
	padding-top: 5px;
}
.news{
	width: 750px;
	height: 72px;
	display: flex;
	/*border-bottom: 10px solid #CCCCCC;*/
}
.toutiao{
	width: 166px;
	height: 66px;
	border-right: 1px solid #CCCCCC;
	display: flex;
	justify-content: center;
	align-items: center;
}
.toutiao img{
	width: 140px;
	}
.new{
	height: 72px;
	line-height: 72px;
}
.new #zx{
	width: 72px;
	height: 52px;
	font-size: 30px;
	border: 1px solid red;
	padding: 5px;
	margin-left: 20px;
	border-radius: 10px;
	color: orangered;
}
.new #ps{
	width: 232.77px;
	height: 40px;
	font-size: 30px;
	margin-left: 10px;
}
.gg1{
	width: 750px;
	height: 380px;
	display: flex;
	border-top: 10px solid #E9E9E9;
}
.qg1{
	width: 278px;
	height: 375px;
}
.qg1 img{
	width: 278px;
	height: 375px;
}
.qg2{
	width: 472px;
	height: 375px;
}
.qg2top{
	width: 472px;
	height: 174px;
	display: flex;
}
.qg2top1 img{
	width: 226.82px;
	height: 177.71px;
}
.qg2top2 img{
	width: 245.19px;
	height: 174px;
}
.qg2low{
	width: 472px;
	height: 201px;
	display: flex;
}
.qg2low1 img{
	width: 234.98px;
	height: 200px;
}
.qg2low2 img{
	width: 237.02px;
	height: 200px;
}
.banner1{
	width: 750px;
	height: 505.05px;
	border-top: 20px solid #E9E9E9;
}
.chaoshihui{
	width: 750px;
	height: 63.3px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #999999;
}
.chaoshihui img{
	width: 33px;
	height: 33px;
}
.chaoshihui span{
	font-size: 28px;
	color: rgb(255,53,14);
	margin-left: 10px;
}
.banner1top{
	width: 750px;
	height: 218.69px;
	display: flex;
	border-bottom: 1px solid #999999;
}
.banner1top1 img{
	width: 287.09px;
	height: 217.19px;
	border-right: 1px solid #999999;
}
.banner1top2 img{
	width: 153.06px;
	height: 217.19px;
	border-right: 1px solid #999999;
}
.banner1top3 img{
	width: 153.06px;
	height: 217.19px;
	border-right: 1px solid #999999;
}
.banner1top4 img{
	width: 153.52px;
	height: 217.19px;
}
.banner1low{
	width: 750px;
	height: 218.69px;
	display: flex;
}
.banner1low1 img{
	width: 287.09px;
	height: 218.69px;
	border-right: 1px solid #999999;
}
.banner1low2 img{
	width: 153.06px;
	height: 218.69px;
	border-right: 1px solid #999999;
}
.banner1low3 img{
	width:153.06px;
	height: 218.69px;
	border-right: 1px solid #999999;
}
.banner1low4 img{
	width: 153.52px;
	height: 218.69px;
}
.banner2{
	width: 750px;
	height: 507.11px;
	border-top: 30px solid #E9E9E9;
}
.tianmaobiguang{
	width: 750px;
	height: 63.3px;
	display: flex;
	justify-content: center;
	align-content: center;
	line-height: 63.3px;
	border-bottom: 1px solid #CCCCCC;
}
.tianmaobiguang img{
	width: 33px;
	height: 33px;
	margin-top: 15px;
}
.tianmaobiguang span{
	font-size: 28px;
	color: rgb(109,9,9);
	margin-left: 10px;
}
.banner2top{
	width: 750px;
	height: 219.14px;
	display: flex;
	/*border-bottom: 1px solid #999999;*/
}
.banner2top1 img{
	width: 373.8px;
	height: 219.14px;
	border-right: 1px solid #999999;
}
.banner2top2 img{
	width: 375px;
	height: 219.14px;
}
.banner2low{
	width: 750px;
	height: 220.34px;
	display: flex;
	border-top: 1px solid#999999;
}
.banner2low1 img{
	width: 186.3px;
	height: 220.34px;
	border-right: 1px solid #999999;
}
.banner2low2 img{
	width: 186.3px;
	height: 220.34px;
	border-right: 1px solid #999999;
}
.banner2low3 img{
	width: 186.3px;
	height: 220.34px;
	border-right: 1px solid #999999;
}
.banner2low4 img{
	width: 187.5px;
	height: 220.34px;
}
.banner3{
	width: 750px;
	height: 550px;
	border-top: 40px solid #E9E9E9;
}
.tesehaohuo{
	width: 750px;
	height: 63.3px;
	display: flex;
	justify-content: center;
	/*align-content: center;*/
	/*text-align: center;*/
	line-height: 63.3px;
	/*border-bottom: 1px solid #999999;*/
}
.tesehaohuo img{
	width: 33px;
	height: 33px;
	margin-top: 15px;
}
.tesehaohuo span{
	font-size: 28px;
	color: rgb(255,104,19);
	margin-left: 10px;
}
.banner3top{
	width: 750px;
	height: 218.69px;
	border-top: 1px solid #999999;
	display: flex;
	/*border-bottom: 1px solid #999999;*/
}
.banner3top1 img{
	width: 287.09px;
	height: 218.69px;
	border-right: 1px solid #999999;
	/*line-height: 218.69px;*/
}
.banner3top2 img{
	width: 153.06px;
	height: 218.69px;
	border-right: 1px solid #999999;
}
.banner3top3 img{
	width: 153.06px;
	height: 218.69px;
	border-right: 1px solid #999999;
}
.banner3top4 img{
	width: 153.52px;
	height: 218.69px;
}
.banner3low{
	width: 750px;
	height: 218.69px;
	display: flex;
	border-top: 2px solid #999999;
}
.banner3low1 img{
	width: 287.09px;
	height: 218.69px;
	border-right: 1px solid #999999;
	/*border-bottom: 1px solid #999999;*/
}
.banner3low2 img{
	width: 153.06px;
	height: 218.69px;
	border-right: 1px solid #999999;
	/*border-bottom: 1px solid #999999;*/
}
.banner3low3 img{
	width: 153.06px;
	height: 218.69px;
	border-right: 1px solid #999999;
	/*border-bottom: 1px solid #999999;*/
}
.banner3low4 img{
	width: 153.52px;
	height: 218.69px;
	/*border-bottom: 1px solid #999999;*/
}
.other{
	width: 750px;
	height: 71.47px;
	display: flex;
	border-top: 1px solid #999999;
}
.left img{
	width: 320px;
	height: 71.47px;
}
.right{
	width: 160px;
	height: 71.47px;
	font-size: 30px;
	/*display: flex;*/
	line-height: 71.47px;
	/*justify-content: flex-end;*/
	margin-left: 280px;
	display: inline-block;
	color: #969896;
	
}
.right img{
	width: 11px;
	height: 18.75px;
	float: right;
	margin-top: 25px;
}
.kong{
	width: 750px;
	height: 86px;
	background: #F7F7F7;
}
.bottom{
	width: 750px;
	height: 86px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid #CCCCCC;
	background: #F7F7F7; 
	position: fixed;
	bottom: 0px;
}
.bottom a{
	width: 150px;
	height: 76px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: cente;
	align-items: center;
	text-decoration: none;
	color: #999999;
}
.bottom .iconfont{
	font-size: 44px;
}
.bottom span{
	font-size: 20px;
}
